<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Consulta de ingresos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="consultaDiv" class="center">
    <ion-item>
      <ion-label>Fecha inicio:</ion-label>
    <ion-datetime 
    [(ngModel)] = "fechaInicio"
    cancel-text="Cancelar"
    done-text="Aceptar"
    month-short-names="[Ene, Feb, Mar, Abr, May, Jun, Jul,Ago,Sep,Oct,Nov,Dic ]"
    ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Fecha final:</ion-label>
    <ion-datetime 
    [(ngModel)] = "fechaFin"
    cancel-text="Cancelar"
    done-text="Aceptar"
    month-short-names="[Ene, Feb, Mar, Abr, May, Jun, Jul,Ago,Sep,Oct,Nov,Dic ]"
    ></ion-datetime>
    </ion-item>
  
    <ion-button (click)="consultar()">Consultar</ion-button>
   
    <div id="consulta">
  
      <h4>Resumen</h4>
      
    <table class="striped">
      <thead>
        <tr>
          <th style="text-align: right; color:transparent">Fecha</th>
          <th style="text-align: right;">Parqueadero</th>
          <th style="text-align: right;">Licores</th>
          <th style="text-align: right;">Plataforma recarga</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: right; color:transparent; background-color: white;">{{ totalParqueadero | currency }}</td>
          <td style="text-align: right;">{{ totalParqueadero | currency }}</td>
          <td style="text-align: right;">{{ totalLicores | currency }}</td>
          <td style="text-align: right;">{{ totalPlataformaRecarga | currency }}</td>
         
        </tr>
      </tbody>
    </table>
  
    <h4>
      Detalle
    </h4>
  <table class="striped">
    <thead>
      <tr>
        <th style="text-align: right;">Fecha</th>
        <th style="text-align: right;">Parqueadero</th>
        <th style="text-align: right;">Licores</th>
        <th style="text-align: right;">Plataforma recarga</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of datos">
      
        <td style="text-align: right;">{{d.fecha}}</td>
        <td style="text-align: right;">{{d.parqueadero | currency}}</td>
        <td style="text-align: right;">{{d.licores | currency}}</td>
        <td style="text-align: right;">{{d.plataformaRecarga | currency}}</td>
      </tr>
    </tbody>
  </table>
  
  
    </div>
  </div>
  

</ion-content>

